{% extends "newsapp/base.html" %}
{% block content %}
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row row-cols-1 row-cols-sm-1 row-cols-md-1 g-3">
            {% for news in news_set %}
            <div class="col">
                <div class="card shadow-sm">
                    <div class="img-container">
                        <img class="card-img rect-img" src="{{ news.top_image }}" alt="{{ news.title }}"
                            onerror="this.src='../../static/newsapp/placeholder.jpg'">
                    </div>
    
                    <div class="card-body">
                        <div class="card-head">
                            <a class="card-link" href="{{ news.url }}" target="_blank"></a>
                            <h1 class="card-title">{{ news.title }}</h1>
    
                            <div class="card-more-info">
                                <span class="card-pub">{{ news.publisher }}</span>
                                <span class="card-date">{{ news.pub_date|date:"j M" }}</span>
                            </div>
                        </div>
    
                        <div class="card-content">
                            <p class="card-text">{{ news.summary }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock content %}